<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'accounts/css/materialize.css' %}">
    {% endblock %}
</head>
<body>
    <div class="container">
        <h1>Welcome my app</h1>
        {% block body %}
        {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'accounts/js/materialize.js' %}"></script>
</body>
</html>